In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a)

tuple

In [4]:
type(b)

tuple

In [5]:
def print_tuple(t):
    for e in t:
        print(e)

In [7]:
print_tuple((10,20,30))

10
20
30

In [8]:
a = 'a', 10, 200

In [10]:
# We can access tuples via index, as such:
a[0]

'a'

In [11]:
a = 1, 2, 3, 4, 5, 6

In [12]:
type(a)

tuple

In [13]:
# We can slice... The following gives all the elements from the second (3) to the 5th (5)
a[2:5]

(3, 4, 5)

In [14]:
# we can iterate a tuple:
for e in a:
    print(e)

1
2
3
4
5
6

We can also unpack a tuple

In [24]:
a ='a', 10, 20

In [25]:
x, y, z = a

In [26]:
x

'a'

In [27]:
z

20

We can do extended unpacking

In [28]:
a = 1, 2, 3, 4, 5, 6

In [34]:
x, *_, y, z = a

In [35]:
_

[2, 3, 4]

In [31]:
x

1

In [32]:
y

5

In [33]:
z

6

Tuples are immutable, but if the object within the tuple is mutable, then we can mutate that object

In [36]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [42]:
pt = Point2D(10, 20)

In [45]:
pt

Point2D(x=10, y=20)

In [47]:
id(pt)

2201529757648

Now, we will change the variable 'x.' Still the id of pt, the reference loaction, will be the same. Watch and see:

In [51]:
pt.x = 100

We can see that the tuple's mutable objects have changed

In [53]:
pt

Point2D(x=100, y=20)

Still the id ref points to the same place! WUUUUUUUUT?!?!

In [54]:
id(pt)

2201529757648

In [55]:
a = Point2D(x=0, y=0), Point2D(10,20)

In [56]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=20))

In [57]:
a[0]

Point2D(x=0, y=0)

In [58]:
id(a[0])

2201529794288

We cannot change what the first element of a points to, but we can change the object at the memory address

In [59]:
a[0].x = 100

In [64]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

Even if we change a string, we are not changing the memory address of the tuple. Instead we create a new string. Look at 's' below

In [68]:
s = 'python'

In [69]:
s

'python'

So 's' looks right. Let's see where 's' is loacated

In [70]:
id(s)

2201504446760

Now we will change s... right?

In [72]:
s = 'python' + ' rocks!'

In [73]:
s

'python rocks!'

So now we have changed the tuple... Let's confirm by looking at the memory address

In [74]:
id(s)

2201529804336

Wrong! 's' now points to a new memory address. Thus, we are looking at a new tuple!

This same thing can be seen with tuples (not strings)

In [81]:
a = 1, 2, 3

In [82]:
id(a)

2201529856072

In [83]:
a += (4, 5)

In [79]:
a

(1, 2, 3, 4, 5)

In [86]:
id(a)

2201528739184

### Looking at integers contained in tuples:

In [85]:
pt1 = (0,0)
pt2 = (10, 20)

In [87]:
london = 'London', 'UK', 8_700_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [88]:
london

('London', 'UK', 8700000)

In [89]:
cities = [london, new_york, beijing]

So we can see that the tuples (london, new york, beijing) are heterogeneous, but the list (cities) is homogeneous. That is because we want to be able to do the same thing to a list over and over again and not have to worry about type changes. The tuple on the other hand is used as a data structure

In [91]:
total = 0
for city in cities:
    total += city[2]
print(total)

38200000

The for loop directly above is correct, but there is a "better" and "more pythonic way of achieving the same thing.

In [93]:
total = sum(city[2] for city in cities)

In [94]:
total

38200000

In [95]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [96]:
symbol, year, month, day, open_, high, low, close = record

In [98]:
symbol

'DJIA'

In [99]:
close

26072

In [100]:
symbol, *_, close = record

In [101]:
symbol

'DJIA'

In [102]:
close

26072

In [103]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [106]:
for city, country, population in cities:
    print(city, country, population)

London UK 8700000
New York USA 8500000
Beijing China 21000000

In [107]:
for item in enumerate(cities):
    print(item)

(0, ('London', 'UK', 8700000))
(1, ('New York', 'USA', 8500000))
(2, ('Beijing', 'China', 21000000))

In [108]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8700000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

Let's do a Pi calculator!

In [110]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [116]:
num_attempts = 1_000_000
count_inside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1
        
print(f'Pi is approx: {4 * count_inside / num_attempts}')

Pi is approx: 3.140324