In [1]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

If you find yourself doing the above, where you build a class and list out all the keys of the tuple build, then it might be more effective to use 'namedtuple.' (a function,  not a class) Remember, namedtuple is immutable

In [4]:
from collections import namedtuple

In [6]:
Point2D = namedtuple('Point2D', ['x', 'y'])

In [7]:
pt1 = Point2D(10, 20)

In [8]:
pt1

Point2D(x=10, y=20)

In [9]:
pt2d_1 = Point3D(10,20,30)

In [10]:
pt2d_1

In [11]:
Pt2D = namedtuple('Point2D', ('x', 'y'))

In [12]:
pt2 = Pt2D(10, 20)

In [13]:
pt2

Point2D(x=10, y=20)

In [14]:
Pt3D = Point3D

In [16]:
p = Pt3D(10, 20, 30)

In [17]:
p = Point3D(x=10, y=20,z=30)

In [18]:
p.x

10

In [19]:
p.y

20

In [20]:
p = Point2D(x=10, y=20)

In [21]:
p.x

10

In [22]:
isinstance(p, tuple)

True

In [23]:
p = Point3D(x=10, y=20, z=30)

In [24]:
isinstance(p,tuple)

False

In [26]:
a = (10, 20)
b = (10, 20)

In [27]:
a is b

False

In [28]:
a == b

True

In [29]:
pt1 = Point2D(10, 20)
pt2 = Point2D(10, 20)

In [30]:
pt1 is pt2

False

In [31]:
pt1 == pt2

True

In [32]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [33]:
pt1 is pt2

False

In [34]:
pt1 == pt2

False

In [38]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'
    
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return false

In [39]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [40]:
pt1

Point3D(x=10, y=20, z=30)

In [41]:
pt1 == pt2

True

In [43]:
pt1 = Point2D(10, 20)
pt2 = Point3D(10, 20, 30)

In [44]:
max(pt1)

20

In [45]:
max(pt2)

TypeError: 'Point3D' object is not iterable

`a = a.x, a.y
b = b.x, b.y

`a.b = a.x * b.x + a.y * b.y

In [47]:
def dot_product_3d(a, b):
    return a.x * b.x +a.y * b.y + a.z * b.z

In [48]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)

In [49]:
dot_product_3d(pt1, pt2)

6

In [50]:
a = (1, 2)
b = (1, 1)

In [51]:
list(zip(a, b))

[(1, 1), (2, 1)]

In [52]:
sum(e[0] * e[1]for e in zip(a, b))

3

In [53]:
def dot_product(a, b):
    return sum(e[0] * e[1]for e in zip(a, b))

In [54]:
dot_product(a, b)

3

In [55]:
pt1 = Point2D(1, 2)
pt2 = Point2D(1, 1)

In [56]:
dot_product(pt1, pt2)

3

In [57]:
Vector3D = namedtuple('Vector3D', 'x y z')

In [58]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

In [59]:
v1

Vector3D(x=1, y=2, z=3)

In [60]:
dot_product(v1, v2)

6

In [61]:
tuple(v1)

(1, 2, 3)

In [62]:
v1[0]

1

In [63]:
v2[0:2]

(1, 1)

In [64]:
v1.x

1

In [65]:
v1.y

2

In [67]:
Circle = namedtuple('Circle', 'center_x center_y   radius')

In [68]:
c = Circle(0, 0, 10)

In [69]:
c

Circle(center_x=0, center_y=0, radius=10)

In [70]:
c.radius

10

In [71]:
Stock = namedtuple('Stock', '''symbol
                                year
                                month
                                day
                                open
                                high
                                low
                                close''')

In [72]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [73]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [74]:
djia.close

26393

In [75]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [76]:
p = Point2D(10, 20)

In [77]:
x, y = p

In [78]:
x

10

In [79]:
y

20

In [80]:
symbol, year, month, day, *_, close = djia

In [81]:
symbol, year, month, day, close

('DJIA', 2018, 1, 25, 26393)

In [82]:
print(_)

[26313, 26458, 26260]

In [84]:
# field names can't start with underscore
Person = namedtuple('Person', 'name age _ssn')

ValueError: Field names cannot start with an underscore: '_ssn'

In [86]:
print(Stock._source)

from builtins import property as _property, tuple as _tuple
from operator import itemgetter as _itemgetter
from collections import OrderedDict

class Stock(tuple):
    'Stock(symbol, year, month, day, open, high, low, close)'

    __slots__ = ()

    _fields = ('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

    def __new__(_cls, symbol, year, month, day, open, high, low, close):
        'Create new instance of Stock(symbol, year, month, day, open, high, low, close)'
        return _tuple.__new__(_cls, (symbol, year, month, day, open, high, low, close))

    @classmethod
    def _make(cls, iterable, new=tuple.__new__, len=len):
        'Make a new Stock object from a sequence or iterable'
        result = new(cls, iterable)
        if len(result) != 8:
            raise TypeError('Expected 8 arguments, got %d' % len(result))
        return result

    def _replace(_self, **kwds):
        'Return a new Stock object replacing specified fields with new values'
        result = _self._make(map(kwds.pop, ('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close'), _self))
        if kwds:
            raise ValueError('Got unexpected field names: %r' % list(kwds))
        return result

    def __repr__(self):
        'Return a nicely formatted representation string'
        return self.__class__.__name__ + '(symbol=%r, year=%r, month=%r, day=%r, open=%r, high=%r, low=%r, close=%r)' % self

    def _asdict(self):
        'Return a new OrderedDict which maps field names to their values.'
        return OrderedDict(zip(self._fields, self))

    def __getnewargs__(self):
        'Return self as a plain tuple.  Used by copy and pickle.'
        return tuple(self)

    symbol = _property(_itemgetter(0), doc='Alias for field number 0')

    year = _property(_itemgetter(1), doc='Alias for field number 1')

    month = _property(_itemgetter(2), doc='Alias for field number 2')

    day = _property(_itemgetter(3), doc='Alias for field number 3')

    open = _property(_itemgetter(4), doc='Alias for field number 4')

    high = _property(_itemgetter(5), doc='Alias for field number 5')

    low = _property(_itemgetter(6), doc='Alias for field number 6')

    close = _property(_itemgetter(7), doc='Alias for field number 7')