# Named Tuples - Modifying and Extending

In [1]:
from collections import namedtuple

In [2]:
Point2D = namedtuple('Point2D', 'x y')

In [3]:
pt = Point2D(10, 20)

In [4]:
pt[0]

10

In [5]:
pt.x

10

In [6]:
pt.x = 100

AttributeError: can't set attribute

In [7]:
pt[0] = 100

TypeError: 'Point2D' object does not support item assignment

In [8]:
id(pt)

2535514198880

In [9]:
pt = Point2D(100, pt.y)

In [10]:
id(pt)

2535514801784

namedtuples are immutable, so we can't change elements. we must make a new one pointing to a new memory address

In [11]:
Stock = namedtuple('Stock', 'symbol year month day open high low close')

In [12]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [13]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [14]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, djia.high, djia.low, 2000)

In [15]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=2000)

In [16]:
*values, close = djia

In [17]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260]

In [18]:
close

2000

In [19]:
values.append(26_393)

In [20]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260, 26393]

In [21]:
djia = Stock(*values)

In [22]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [23]:
a = [1, 2, 3]

In [24]:
a

[1, 2, 3]

concacinating lists changes the id() of the list eg. a = a+[4, 5] is a new list. using .append(4) would not change the id() though. .extend would also work not to change the id()

In [25]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [27]:
values = djia[:7]

In [28]:
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [29]:
type(values)

tuple

In [30]:
values + (100,)

('DJIA', 2018, 1, 25, 26313, 26458, 26260, 100)

In [31]:
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [32]:
djia = Stock(*values, 1000)

In [33]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=1000)

the above methods don't work for values in the middle, so we use ._replace()

In [34]:
id(djia)

2535514741160

In [35]:
djia = djia._replace(year=2019, open=10000)

In [36]:
djia

Stock(symbol='DJIA', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [37]:
id(djia)

2535514742000

In [38]:
djia = Stock._make(values + (100, ))

In [39]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [40]:
Point2D._fields

('x', 'y')

In [42]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z', ))

In [44]:
Point3D._fields

('x', 'y', 'z')

In [45]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')